.Input {
  display: flex;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  border: 1px solid #065084;
  color: #065084;
  width: 30px;
}

.sendIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #065084;
  cursor: pointer;
  width: 40px;
}

.chatInput {
  display: flex;
  width: 100%;
  flex: 1;
  border: 1px solid #065084;
}

.chatInput:focus {
  outline: none;
  border: 3px solid #320a6b;
}
