.ChatBubble {
  display: flex;
  justify-content: flex-end;
}
.chatBody {
  width: 50px;
  height: 30px;
  background-color: #dadddf;
  border-radius: 10px 0px 10px 10px;
  padding: 4px 4px 4px 4px;
  font-size: 15px;
}

.chatTime {
  font-size: 10px;
  position: relative;
  top: 20px;
  right: 3px;
}
