.Home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginInfo {
  color: #065084;
  margin: 0;
}

.title {
  color: white;
  margin: 5px auto;
  cursor: default;
}

.btnChat {
  border: 2px solid #065084;
  color: #065084;
  border-radius: 25px;
  width: 200px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.btnChat:hover {
  color: white;
  background-color: #065084;
  transition: 0.2s;
}
