@font-face {
  font-family: "Jua";
  src: url("/Jua-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body * {
  font-family: "Jua";
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

#root {
  background-color: #78b9b5;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}
